div{
  float: left;
}

form{
  width: 200px;
  margin-top: 25px;
}

input[type="text"], span{
  display: block;
  width:100%;
}
h4{
  margin-left: 40px;
}
.margen{
  margin-left: 150px;
}
span {
  width:100%;
}
ul {
  list-style:none;
}
.mayo::first-letter {
    text-transform: capitalize;
}