<h1>Componente de Coches</h1>

<div>
  <form #formCoche="ngForm" (ngSubmit)="onSubmit(); formCoche.reset;">
    
    <p>
      <label>Marca:</label>
      <input type="text" name="marca" #marca="ngModel" [(ngModel)]="coche.marca" required>
      <span *ngIf="!marca.valid && marca.touched">Introducir Marca</span>
    </p>

    <p>
      <label>Modelo:</label>
      <input type="text" name="modelo" #modelo="ngModel" [(ngModel)]="coche.modelo" required>
      <span *ngIf="!modelo.valid && modelo.touched">Introducir Modelo</span>
    </p>

    <p>
      <label>Caballos:</label>
      <input type="text" name="cv" #cv="ngModel" [(ngModel)]="coche.cv">
      <span *ngIf="!cv.valid && cv.touched">Introducir caballos (número)</span>
    </p>

    <p>
      <label>Hex-Color:</label>
      <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="^#([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$">
      <span *ngIf="!color.valid && color.touched">Introducir color<br>(Formato #f0f0f0)</span>
    </p>

    <p>
      <label>Año:</label>
      <input type="text" name="anio" #anio="ngModel" [(ngModel)]="coche.anio" required pattern="[1-2][0-9][0-9][0-9]">
      <span *ngIf="!anio.valid && anio.touched">Introducir año (4 cifras)</span>
    </p>

    <input type="submit" value="Guardar" [disabled]="!formCoche.form.valid">

  </form>
</div>

<div class="margen">
  <h4>Listado de Coches</h4>
  <ul>
    <li *ngFor="let coche of coches">
    <p>
      Marca: {{coche.marca}} - 
      Modelo: {{coche.modelo}} - 
      Cv: {{coche.cv}} - 
      Año: {{coche.anio}} - 
      Color: {{coche.color | uppercase}} <span [ngStyle]="{'background':coche.color}">&nbsp;</span>
    </p>
    </li>
  </ul>
</div>