body {
  background-color: #efefef;
}

.fondoNegro {
  color: white !important;
  background-color: black;
}

.fondoVerde {
  background-color: lightgreen;
}

.fondoAzul {
  color: blue !important;
  background-color: lightblue;
}

.fondoRojo {

  color: red !important;
  background-color: pink;
}

.fondoAmarillo {
  color: grey !important;
  background-color: lightyellow;
}

.letraVerde {
  color: green;
}

.subrayado {
  text-decoration: underline;
}

.letrasMayusculas {
  font-variant: small-caps;
  font-size: 120%;
}

.upperCase {
  text-transform: uppercase;
}

.activado {
  text-shadow: 0 -0px 12px green;
  color: black !important;
  text-decoration: none;
  font-size: 120%;
}