body {
  background-color: #efefef;
}

.fondoNegro {
  color: white !important;
  background-color: black;
}

.fondoVerde {
  background-color: lightgreen;
}

.fondoAzul {
  background-color: lightblue;
}

.fondoRojo {
  background-color: pink;
}

.fondoAmarillo {
  background-color: lightyellow;
}

.letraVerde {
  color: green;
}

.subrayado {
  text-decoration: underline;
}

.letrasMayusculas {
  font-variant: small-caps;
  font-size: 120%;
}

.upperCase {
  text-transform: uppercase;
}