<h2>{{titulo}}</h2>
<br>

{{fecha| date:'fullDate' | lowercase}} - 

{{fecha| date:'EEEE, dd/MM/yyyy' | uppercase}} -

{{fecha| date:'HH:mm'}} 

<br>

{{5 | conversor:7 }} <br> 

<h3>Calculadora del exponencial
  <input type="text" [(ngModel)]="num_exp" />
</h3>
<p *ngIf ="num_exp">{{num_exp | conversorexp }}</p>

<hr>
<input type="text" [(ngModel)]="prenda_a_guardar">
<button (click)="guardarPrenda()">Añadir prenda</button>
<br>
<p *ngIf = "prenda_a_guardar">La prenda a guardar es: <strong>{{prenda_a_guardar}}</strong></p>
<h3>Listado de prendas de ropa:</h3>
<ul>
  <li *ngFor="let prenda of listado_ropa; let i = index">
    {{prenda}}
    <button (click)="eliminarPrenda(i)">Eliminar</button>
    <p></p>
  </li>
</ul>